:root {
    --primary: #000;
    --secondary: #6d00a2;
    --light: #F3F3F3;
    --dark: 	#212121;
  }

    html, body {
        width: 100%;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        background-color: var(--primary);
        color: var(--light);
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        line-height: 1.4;
        overflow: hidden;
        
    }

    i{
        color: var(--light);
        /* font-size: 25em; */
    }

    .inicio{
        width: 100%;
        height: 100%;
    }

    .inicio img{
        width: 100vw;
        height: 40vh;
        margin-top: 20vh;
        margin-left: 2vw;
    }

    .inicio h1{
        font-size: 10vw;
        margin-left: 20vw;
        margin-top: 2vh;
        color: var(--secondary);
        
    }
    

    .modo{
        display: none;
        width: 100%;
        height: 50%;

    }

    #mando{
        font-size: 100vw;
        margin-left: 14vw;
        margin-top: 45%;

    }

    #ajustes{
        display: none;
        font-size: 90vw;
        margin-left: 6vw;
        margin-top: 55%;
    }

    #temporizador{
        display: none;
        font-size: 100vw;
        margin-left: 14vw;
        margin-top: 45%;
    }
    button{
        background-color: var(--dark);
        color: var(--light);
        border: none;
        font-size: 18.5vw;
        margin-left: 17.5vw;
        margin-top: 0.5em;
        border-radius: 3.5vh;
        display:none;
        box-shadow: 0 0 1vh 0.1vh var(--light);
    }

    button:active{
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
             -4px -4px 6px 0 rgba(255,255,255,.2),
             4px 4px 6px 0 rgba(0, 0, 0, .2);
      }